Classroom Info
<%= render partial: "classroom", locals: {classroom: @classroom} %>
<p>
<%= @classroom.course_name %>
mester %>
</p><%= @classroom.se

We now want to call out the oldest student in the class:
<%= render 'students/student' %>
